<html>

<script src="angular.min.js"></script> <style> input.ng-invalid (

background-color: Red;

input.ng-valid { background-color: green:

} </style> <body>

<p><h1>The demo of ng-model </h1></p>

<form ng-app="" name="myForm"> Enter your name: <input name="myName" ng-model="myText" required>

<br> <br>

Enter email: <input type="email" name="myemail" ng-model="text" required> <span ng-show-"myForm.myemail. Serror.email"> Not a valid e-mail address</span>

</form>

</body> </html>