<html>

<script src="angular.min.js"></script> <body>

<h2>Validation Example</h2>

<form ng-app-"myApp" ng-controller="validateCtrl"

name="myForm" novalidate>

<p>Username:<br>

<input type="text" name="user" ng-model="user" required> <span style="color:red" ng-show="myForm.user. Sdirty && myForm. user. Sinvalid"> <span ng-show="myForm.user. Serror. required">Username is required. </span> </span> </p>

<p>Email:<br>

<input type="email" name="email" ng-model="email" required> <span style="color:red" ng-show="my Form, email. Sdirty && myForm.email. Sinvalid <span ng-show="myForm.email. Serror. required">Email is required. </span> <span ng-show="myForm.email. Serror.email">Invalid email address. </span> </span>

</p>

<p> <input type="submit"

ng-disabled="myForm.user. Sdirty && myForm.user. Sinvalid ||

myForm.email. Sdirty && myForm. email. Sinvalid">

</p>